@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,200&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap');
body{
  background: #123;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.btn-media{
  display: none;
}
.yellow{
  color: yellow;
  cursor: pointer;
}
.red{
  color: red;
  cursor: pointer;
}
i, span{
  background: none;
}
.search-box{
  margin: 3px auto;
  display: flex;
  color: white;
  float: right;
  justify-content: center;
  overflow: hidden;
  padding: 3px;
  width: 100%;
  justify-content: space-between;
  background: rgba(0, 0, 0, 1.0);
}
@keyframes slideIn {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.all_search {
  overflow: hidden;
  width: 100%;
  top: 240px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
}
.search::placeholder{
  color: lightgray;
}
.Category{
  width: 70%;
  margin: auto;
  padding: 6px;
  overflow: hidden;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
}

.search-box .search{
  background: rgba(0, 0, 0, 1.0);
  border: none;
  width: 96%;
  color: lightgray;
}
.search-box .search::placeholder{
  color: lightgray;
}
.search-box .btn-search {
  background: rgba(0, 0, 0, 1.0);
  color: white;
}
.search-box .btn .btn-search {
  color: white;
}
.top-nav{
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 2px;
  color: white;
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-nav .left{
  width: 60%;
  background: none;
}
.top-nav .left a{
  background: none;
  text-transform: capitalize;
  padding: 10px;
  font-size: 14px;
  color: tomato;
}
.top-nav .left a:hover{
  cursor: pointer;
  color: red;
  text-decoration: underline;
}
.top-nav .left a i{
  background: none;
}
.nav-bar{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 13px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 10;
}
@keyframes fadein {
  from {
    right: -280px;
  }
  to {
    right: 0;
  }
}
#smalll{
  display: none;
}

.nav-bar.small {
  width: 250px;
  z-index: 50;
  height: 100vh;
  display: block;
  background: rgba(0, 0, 0, 1.0);
  animation: fadein 1s ;
  position: fixed;
  right: 0;
}
.nav-bar .left-side{
  background: none;
}
.link2{
  font-size: 36px;
  color: red;
  text-decoration: none;
  background: none;
}
.link2:hover{
  color: white;
  text-decoration: underline;

}
.nav-bar.small .left-side.small{
  display: block;
  width: fit-content;
  margin: auto;
}
.hide{
  display: none;
}
.actions, .right{
  background: none;
  padding: 2px;
}
.actions {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}
.nav-bar .left-side .Logo{
  font-weight: bolder;
  background: none;
  font-size: 1.5em; /* Adjust the size as needed */
  font-weight: bold;
  letter-spacing: 2px;
}
.frame_logo{
  border: 3px solid red;
  border-top: 0px solid red;
  border-radius: 0px 100px 0px 100px;
}
.frame_logo.green{
  background: none;
  border-color: green;
  color: green;
}
.right-side{
  background: none;
}
.right-side .link{
  background: none;
  padding: 10px;
  font-size: 16px;
  color: white;
  text-decoration:none;
}

.nav-bar.small  .right-side.small{
  display: block;
}
.nav-bar.small  .right-side.small .link{
  border-bottom: 4px solid transparent;
  display: block;
  width: 100%;

}
.nav-bar.small  .right-side.small .link:hover, .nav-bar.small  .right-side.small .active{
 border-bottom: 4px solid red;
}
.right-side .link:hover , .right-side .active{
  color: red;
 border-bottom: 4px solid red;
}
.f-30{
  font-size: 30px;
}
.right{
 float: right;
}
.pointer{
  cursor: pointer;
}
.red-under{
  border-bottom: 3px solid red;
}
.app_body{
  z-index: 1;
  padding-top: 0px;
  box-sizing: border-box;
  width: 100%;
    background: rgba(0, 0, 0, 1.0);
  position: relative;
}

.bg-trans{
    background: darkred;
    cursor: pointer;
    width: fit-content;
    border-radius: 0px 100px 100px 0px;
}
.main_img{
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  border-radius: 0px;
  overflow: hidden;
  height: 710px;
  top:0;
  position: absolute;
  background: none;
}
.right_details{
  color: white;
  bottom: 50px;
  border-radius: 0px 10px 10px 0px;
  background: rgba(0, 0, 0, 0.7);
  padding: 4px;
  max-width: 700px;
  position: absolute;
  
}
.right_details *{
  background: none;
}
.right_details .title{
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}
.right_details .short_details{
  font-weight: bold;
}
.right_details .long_details{
      display: -webkit-box;
      font-family: 'Red Hat Text', sans-serif;
      font-weight: 200;
    max-width: 100;
    padding: 4px;
    overflow-wrap: break-word;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-transform: capitalize;
}
.cat_head{
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.next-prev{
  padding: 12px;
  justify-content: space-between;
  display: flex;
  background: white;
  width: 100px;
}
.main_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
/*----------Form-------------*/
.Form_data{
  margin: 50px auto;
  max-width: 350px;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  background:2px solid lightgray;
}
.Form_data .form-group .form-control{
  margin: 10px auto;
}
.form-group{
  background: none;
}
.form-group .link{
  background: none;
  float: right;
  padding: 6px;
}
.separate{
  padding: 12px;
  background: none;
}
.separate.long{
  margin: 100px auto;
}

.separate.short{
  margin: 50px auto;
}
.separate.min{
  margin: 20px auto;
}
.des_white{
  color: white;
  background: none;
}
.Form_data .log_form{
  background: none;
}

.link-outer{
  padding: 8px;
  text-align: center;
  display: block;
  color: red;
  background: none;
}
.bg-none{
  background: none;
}
.input-min{
  border: 0px;
  background: rgba(0, 0, 0, 0.7);
}
.input-min::placeholder{
  color: grey;
}
.link{
  background: none;

}
.outer-links-but{
  flex-wrap: wrap;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  background: none;
}

.movies{
  padding: 10px;
  width: 100%;
  display: grid;
  gap: 9px;
  background: rgba(0, 0, 0, 1.0);
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  margin: 20px auto;

}

.movies .movie{
  background: white;
  width: 160px;
  height: 240px;
  margin: auto;
  border-radius:5px;
  overflow: hidden;
}
.movies .movie .image {
  width: 100%;
  height: 100%;

}
.movies .movie .image img{
  height: 100%;
  width: 100%;object-fit: cover;
}
.movies.home .movie .image img{
  object-position: top;
}
.movies.home{
display: flex;
width: 100%;
margin: auto;
overflow: hidden;
}
.movies .movie{
  min-width: 100%;
  height: 250px;
  position: relative;
}

.movies .movie .title{
  display: none;
}
.movies .movie:hover  .title{
  display: block;
}
.movies .movie .image img:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.movies .movie .title{
  position: absolute;
  background:rgba(0, 0, 0, 0.7);
  padding: 5px;
  cursor: pointer;
  width: 100%;
  bottom: 0;
  color: white;
  
}
.movies .movie .title h4{
  font-size: 13px;
  font-weight: bold;
  background: none;
}
.movies .movie .title div{
  font-size: 11px;
}
.center{
  margin: auto;
  align-items: center;
  text-align: center;
  display: inherit;
}
.wd-100{
  width: 100%;
}
.f-10{
  font-size: 10px;
}
/*--------------------footer--------------------------*/
.footer{
  background: url("https://img.freepik.com/free-photo/liquid-marbling-paint-texture-background-fluid-painting-abstract-texture-intensive-color-mix-wallpaper_1258-85317.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .box{
  margin: auto;
  display: block;
  background: none;
  padding: 12px;
}
.bg-footer{
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}
.bg-footer .box{
  height: 250px;
}
.f-12{
  font-size: 12px;
}
.circle-rd{
  color: white;
  padding: 10px;
  border-radius: 100px;
}
.footer-link *{
  text-decoration: none;
}
.footer-link .d-block{
  color: white;
  font-size: 13px;
  padding: 6px;
  background: none;
  margin: auto;
  width: 100%;
}
.hover-round-red:hover{
  cursor: pointer;
  background: darkred;
  border-radius: 0px 100px 100px 0px;
}
.footer-nav{
  background: rgba(0, 0, 0, 1.0);
  padding: 12px;
  width: 100%;
}
/*----------------------------------------home slider---------------------------------*/
.mymain{
  height: 670px;
  margin-top: -150px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.mymain .myslider .myslide_item{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.mymain .myslider .myslide_item . img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mymain .myslider .myslide_item .mydetails{
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  position: absolute;
  color: white;
  width: 50%;
  top: 50%;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, -50%);

}

.grid_movies{
  width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  background: rgba(0, 0, 0, 1.0);
}
.grid_movies .main{
  flex: 2;
  max-height: 500px;
  overflow: hidden;
  border-radius: 10px;
}
.grid_movies .main img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid_movies .small{
  flex: 1;
  max-height: 500px;
  display: block;
}

.grid_movies .small .item_small{
  width: 100%;
  height: 48%;
  display: block;
  overflow: hidden;
  margin: 10px auto;
  border-radius: 10px;
}
.grid_movies .small .item_small img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*----------------------------video-----------------------*/
.video_my {
  font-size: 12px;
  width: 100%;
  height: 100%;
}
.movie_play{
  position: relative;
  width: 100%;
  padding: 0;
  height: 620px;
  overflow: hidden;
}
.Navigation_mov{
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 10px 0px;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  left: 0;
  z-index: 100;
  opacity: 0;
  gap: 10px;
  display: flex;
}
@keyframes opt {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.movie_play:hover .Navigation_mov{
  gap: 10px;
  animation: opt 2s;
  opacity: 1;
}

.Navigation_mov:hover{
  display: flex;
  gap: 10px;
}
.Navigation_mov .arow{
    color: white;
  font-size: 40px;
  text-decoration: none;
}
.f-16{
  font-size: 16px;
}
.wd-50{
  width: 50%;
}
